<head>
  <link rel="stylesheet" href="./static/css/add_image_file.css">
  <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>

<div class="file-upload">
  <form action="/" method="POST" enctype="multipart/form-data">
    <button class="file-upload-btn" type="submit">Add Image</button>

    <div class="image-upload-wrap">
      <input class="file-upload-input" type='file' name="image" id="image"/>
      <div class="drag-text">
        <h3>Drag and drop a file or select add Image</h3>
      </div>
    </div>
  </form>
</div>




